doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Coucou pug
  body
    include header.pug
    block content
    p Pour perdre du temps aisément n'hésitez pas à oublier le "/coucou-pug" dans votre route ou encore indenter votre pug avec des espaces et des tab à la fois!